# Ignore Gradle project-specific cache directory
.gradle
.kotlin

# Ignore Gradle build output directory
build
# Ignore intellij Idea / Android Studio directory
.idea
*.iml

/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
